# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
/crawler/get_data/get_data/data/*.txt
/crawler/get_data/get_data/model/*
/crawler/get_data/get_data/sample/*
*.ipynb
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*__pycache__
company.json
post.json
# *.txt
# dependencies
*/node_modules
app/client/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
