.MuiRating-label {
  font-size: 20px;
  font-weight: 400;
  color: aqua;
}

.rate {
  font-size: 20px;
}

textarea {
  border: 1px solid #dfe5e7;
  box-shadow: none;
  outline: none;
  background-color: #fcfcfc;
  // color: #aeaeae;
  padding: 5px 6px;
  width: auto;
  max-width: inherit;
  font-size: 14px;
}
